.hidden {
  display: none;
}

body {
  background-color: lightpink;
}

.jumbotron {
  color: pink;
  background-image: url("./../assets/images/sun.png") ;
  border: solid 10px palevioletred;
}

.card {
  color:whitesmoke;
  background-color: darkblue;
}

.card-header {
  background-image: url("./../assets/images/mtn.png") ;
}

.form-style {
  background-color: yellow ;
}